<div class="row horizontal-align">
    <div class="col-sm-6 col-lg-8 col-md-4">
        <div style="margin-bottom:2rem; background-color:rgb(255, 255, 255)" class="card">
            <div class="card-body">
                <h1>Checkout</h1>
                <h4>Your Total: ${{total}}</h4>
                <div id="charge-error" class="alert alert-danger" {{#if noError}} hidden{{/if}}> {{errMsg}} </div>
                    <form action="/checkout" method="post" id="checkout-form">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="name" class="bmd-label-floating">Name</label>
                                <input type="text" id="name" class="form-control" required name="name">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="address" class="bmd-label-floating">Address</label>
                                <input type="text" id="address" class="form-control" required name="address">
                            </div>
                        </div>
                        <hr>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="card-name" class="bmd-label-floating">Card Holder Name</label>
                                <input type="text" id="card-name" class="form-control" required>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="card-number" class="bmd-label-floating">Credit Card Number - (Use this as
                                    testing purpose - 4000056655665556)</label>
                                <input type="text" id="card-number" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="card-expiry-month" class="bmd-label-floating">Expiration Month</label>
                                        <input type="text" id="card-expiry-month" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="card-expiry-year" class="bmd-label-floating">Expiration Year</label>
                                        <input type="text" id="card-expiry-year" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="card-cvc" class="bmd-label-floating">CVV</label>
                                <input type="text" id="card-cvc" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-raised btn-success" style="margin-bottom:20px">Buy now</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript" src="javascripts/checkout.js"></script>